@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.navbar_link:hover {
  color: #ff8f9c;
  transition: color 0.4s ease;
}

.navbar_link::after {
  position: absolute;
  content: "";
  background-color: #ff8f9c;
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  scale: 0;
  transform-origin: left;
  transition: scale 0.4s ease;
}

.navbar_link:hover::after {
  scale: 1;
}

/* styles.css */
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-img {
  width: 100%;
  height: auto; /* Asegúrate de que las imágenes se ajusten correctamente */
}

